body{
  font-family: Roboto;
  background-color:#FFF1E6;
  color:#0E473F;
}
.text{
  font-family:arial;
  color:#3C2811;    /*FF654D*/
}
.data{
  font-family:Georgia;
  color:#FF6F32;
}
#salmon{
  width:200px;
}
