body{
  font-family: Roboto;
  background-color:#191C59;
  color:black;
}
#pikeplace{
  font-family:arial;
  color:#A7383E;
}
#seatac{
  font-family:arial;
  color:#A7383E;
}
#southcenter{
  font-family:arial;
  color:#A7383E;
}
#bellevue{
  font-family:arial;
  color:#A7383E;
}
#alki{
  font-family:arial;
  color:#A7383E;
}
.special{
  font-family:Georgia;
  color:#599532;
}
