body{
  font-family: Roboto;
  background-color:#FFF1E6;
  color:#0E473F;
}
.text{
  font-family:arial;
  color:#3C2811;
}
.history{
  font-family:arial;
  color:#3C2811;
  background-color:#FF9365;
  border: 2px solid black;
  margin:5px;
  padding:5px;
}
.data{
  font-family:Georgia;
  color:#FF6F32;
}
#salmon{
  width:200px;
}
img.salmon2{
  width:200px;
}
#heading{
  text-align: center;
  background-color:#FF5726;
}
.info{
  text-align: left;
}
.bad-pics{
  width:200px;
  padding-left: 120px;
  padding-right: 120px;
}
#shirt-info{
  color:#3C2811;
}
#salmon-wrap{
  text-align: center;

}
#link{
  text-align: center;
}